# Dependencies for jyotishyamitra with kerykeion integration
# Main dependencies from kerykeion
pyswisseph>=2.10.3.1
pydantic>=2.5
scour>=0.38.2
requests-cache>=1.2.1
requests>=2.32.3
simple-ascii-tables>=1.0.0
pytz>=2024.2
typing-extensions>=4.12.2
python-dateutil>=2.8.2

# Testing dependencies
pytest>=7.2.0
